{% import "macros/form.html" as form %}

{% set markdown_tooltip = "<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='text-muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" %}

{% set data = data or {} %}
{% set errors = errors or {} %}

<form id="add-ticket-form" hx-post="{{ h.url_for('issues.add_ticket') }}" hx-target=".issues-ticket-modal-body"
      hx-disabled-elt="find button[type='submit']">
    {{ h.csrf_input() }}

    {% if form_error %}
        <div class="alert alert-danger" role="alert">{{ form_error }}</div>
    {% endif %}

    {% set attrs = {'class': 'form-control', 'required': 'true'} %}

    {{ form.input("subject", label=_("Subject"), value=data.subject, error=errors.subject, is_required=True, attrs=attrs) }}
    {{ form.select('category', label=_('Category'), options=h.issues_get_category_options(), selected=data.category, error=errors.category, is_required=True, attrs=attrs) }}

    {% call form.textarea("text", label=_("Description"), value=data.text, error=errors.text, rows=12, is_required=True, attrs=attrs) %}
        <span class="editor-info-block">
            {%- trans -%}You can use <a href="#markdown" title="Markdown quick reference" data-bs-toggle="popover" data-bs-content="{{ markdown_tooltip }}" data-bs-html="true">Markdown formatting</a> here{%- endtrans -%}
        </span>
    {% endcall %}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">
            {{ _('Submit') }}
        </button>
        <span class="spinner-border spinner-border-sm htmx-indicator ms-2" aria-hidden="true"></span>
    </div>
</form>
