{% ckan_extends %}

{% block header_account_profile %}
    {% if h.check_access('sysadmin') %}
           <li>
            <a href="{{ h.url_for('issues_admin.list') }}" title="{{ _('Support tickets') }}">
                <i class="fa fa-ticket"></i>
                <span class="text">{{ _('Support tickets') }}</span>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ h.url_for('issues.my_tickets') }}" title="{{ _('My Support Requests') }}">
                <i class="fa fa-ticket"></i>
                <span class="text">{{ _('My Support Requests') }}</span>
            </a>
        </li>
    {% endif %}

    <li>
        <a
            href="#"
            title="{{ _('Support') }}"
            data-bs-toggle="modal"
            data-bs-target="#create-ticket-modal"
            {#} the modal is in page.html {#}
            hx-get="{{ h.url_for('issues.init_modal') }}"
            hx-target=".ap-ticket-data"
            hx-trigger="click">
            <i class="fa fa-question-circle"></i>
        </a>
    </li>

    {{ super() }}
{% endblock %}
